.container {
  display: flex;
  width: 720px;
  height: 100vh;
  gap: 16px;
  padding: 16px;
}

.leftPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.textarea {
  flex: 1;
  width: 100%;
  background-color: #12140d;
  color: #e3e3d7;
  border: 4px solid #d7eb9b;
  border-radius: 8px;
  padding: 12px;
  font-family: monospace;
  font-size: 16px;
  resize: none;
}

.textarea:focus {
  outline: none;
  border-color: #e3e3d7;
}

.rightPanel {
  flex: 1;
  background-color: #12140d;
  border: 4px solid #d7eb9b;
  border-radius: 8px;
  padding: 16px;
  overflow: auto;
}

.preview h2 {
  margin-top: 0;
  color: #e3e3d7;
}

.visualization {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.row {
  display: flex;
  gap: 0px;
  border-top: 1px solid #d7eb9b22;
}
.row[data-major="true"] {
  border-top: 2px solid #d7eb9b88;
}

.dot {
  width: 12px;
  height: 6px;
  background-color: #12140d;
}

.dot.active {
  background-color: #d7eb9b;
}
