:root {
  font-family: TASA Orbiter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #12140d;
  color: #e3e3d7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
}

a {
  font-weight: 500;
  color: #d7eb9b;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 375px;
  min-height: 100vh;
}

#root {
  max-width: 360px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
